src
storage
test
lib-cov
pids
logs
results
tmp
coverage
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
.vscode
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore output from coverage report
coverage

# Docker
.dockerignore
Dockerfile
docker-compose*.yml
