
.project-list{
  .project-item{
    .content{
      display: flex;
      .right-area{
        flex: 1;
      }
      .my-row{
        display: flex;
        margin-left: 12px;
      }
      .icon{
        height: 36px;
        width: 36px;
      }
      .id{
        width: 64px;
        font-style: italic;
        text-align: right;
        margin-right: 8px;
      }
      .name{
        font-weight: bold;
      }
      .latest{
        .tag{
          display: inline-block;
          border-radius: 4px;
          padding: 1px 4px;
          margin-right: 4px;
          &.ios{ background: #f1bdbd };
          &.android{ background: #bcf1bb };
          &.main{ background: #d1e2ff };
        }
      }
    }
  }
}

#releaseAccordion{
  .card {
    margin-bottom: 4px;

    .release{
      span{
        margin-right: 4px;
        &.version{
          font-weight: bold;
        }
        &.date{
          font-size: 0.8em;
          font-style: italic;
        }
      }
    }
  }
  .card-header{
    display: flex;
    align-items: center;
    h5{
      width: 100px;
    }
    .space{
      flex: 1;
    }
  }
}