extends ../layout

block content
    .page-header
        h3 Create Release
    form.form-horizontal(method='POST', enctype='multipart/form-data')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='name') Release Name*
            .col-sm-7
                input.form-control(name='name', id='name', placeholder='Release Name', autofocus, required)
        .form-group
            label.col-sm-3.control-label(for='track') Track*
            .col-sm-7
                select.form-control(name='track', id='track', required)
                    each track in project.tracks
                        option(value=track)
                            =track
        .form-group
            label.col-sm-3.control-label(for='file') File*
            .col-sm-7
                input.form-control(type='file', name='file', id='file', placeholder='File', required)
        .form-group
            label.col-sm-3.control-label(for='note') Release Note
            .col-sm-7
                input.form-control(name='note', id='note', placeholder='Project Note')
        .form-group
            .col-sm-offset-3.col-sm-7
                button.col-sm-3.btn.btn-primary(type='submit')
                    i.fa.fa-plus
                    | Create
