extends ../layout

block content
  .page-header
    h3 Create Project
  form.form-horizontal(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
          label.col-sm-3.control-label(for='id') Project ID*
          .col-sm-7
              input.form-control(name='id', id='id', placeholder='Project ID', autofocus, required)
      .form-group
          label.col-sm-3.control-label(for='name') Project Name*
          .col-sm-7
              input.form-control(name='name', id='name', placeholder='Project Name', required)
      .form-group
          label.col-sm-3.control-label(for='password') Description
          .col-sm-7
              input.form-control(name='password', id='password', placeholder='Description')
      .form-group
          .col-sm-offset-3.col-sm-7
              button.col-sm-3.btn.btn-primary(type='submit')
                  i.fa.fa-plus
                  | Create
